@font-face {
    font-family: COOL;
    src: url(coolvetica\ rg.otf);
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.bg{
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(150deg, rgb(219, 219, 219) 40%, rgb(44, 53, 33) 30%);
    margin-top: -5vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 800px;
    margin-left: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 750px;
}

.app-name{
    font-family: COOL;
    font-size: 50px;
    margin-bottom: 40px;
}

article{
    margin-top: 40px;
    background-color: white;
    width: 600px;
    height: 700px;
    border-radius: 5px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 400px;
}

input{
    border: none;
    background-color: rgb(204, 204, 204);
    width: 500px;
    height: 50px;
    border-radius: 10px;
}

.senhas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;

}

.senhas input{
    width: 230px;
}

button{
    border: none;
    background-color: rgb(30, 48, 20);
    color: white;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    font-size: 20px;
}